.root {
    height: 32px;
    cursor: pointer;
  }

.root:hover {
background-color: #123354;
}

.root.selected {
    background-color: #123354;
    color: #90caf9;
}  

.root.selected svg path {
    fill: #90caf9;
} 

.root .actionMenu {
opacity: 0;
}

.root:hover .actionMenu {
    opacity: 1;
}
