.root {
    height: 32px;
    cursor: pointer;
  }

.root:hover {
background-color: #153151;
}

.root.selected {
    background-color: #153151;
}   

.root .actionMenu {
opacity: 0;
}

.root:hover .actionMenu {
    opacity: 1;
}
